.list-element{
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr 0.5fr;
    text-align: center;
    gap: 2px;
    
}
.element-attribute{
    background: wheat;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-family: "DM Sans", serif;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    padding: 6px 0;
}
.active{
    background: rgb(203, 177, 5);
}

.delete-btn{
    background: transparent;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
}